* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  :root {
    --colour1: #723a59;
    --colour2: #af7a9b;
    --colour3: #e7c9dd;
    --colour4: #070506;
  
    font-family: "Ubuntu Mono", monospace;
  }
  
  html,
  body {
    background-color: var(--colour1);
    color: var(--colour3);
  }
  
  header {
    min-height: 10vh;
    text-align: center;
    border-bottom: 3px solid var(--colour2;
    width: 60%;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2.5rem;
    padding-top: 20px;
  }
  
  main {
    padding: 50px;
    background-color: var(--colour2);
    margin-top: 50px;
    overflow-x: auto;
  }
  
  .container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    background-color: var(--colour1);
    padding: 30px 50px;
    border-radius: 10px;
  }
  
  .item:first-child {
    grid-column: span 2;
  }
  
  .item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 1.8rem;
  }
  
  p {
    font-size: 1.4rem;
  }
  
  a {
    color: var(--colour4);
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  footer a {
    color: var(--colour4);
  }
  
  h3 {
    font-size: 1.6rem;
  }
  